extends layout.pug

block css
  link(href="/css/index.css" rel="stylesheet" type="text/css")
  link(href="/css/queue.css" rel="stylesheet" type="text/css")

block content
  -var header = {title:"预订单队列"}
  include ./model/nav
  #app-queue
    .queue(v-for="ele in queue")
      .input-item
        span(style="background:url(/img/icon/sign-nickname.png)" )
        input#password(v-model="ele.NickName" disabled="disabled")
      .input-item
        span(style="background:url(/img/icon/sign-time.png)" )
        input#password(v-model="ele.OrderTime" disabled="disabled" )
      .input-item
        span(style="background:url(/img/icon/sign-phone.png)" )
        input#password(v-model="ele.Phone" disabled="disabled")
      .input-item
        span(style="background:url(/img/icon/sign-account.png)" )
        input#password(v-model="ele.PeopleNum" disabled="disabled")

block script
  script(src="https://unpkg.com/vue@2.3.3/dist/vue.js")
  script.
   var timeFormat = function(d){
     return `${d.getFullYear()}-${d.getMonth()}-${d.getDate()} ${d.getHours()}:${d.getMinutes()}`;
   }

   var app = new Vue({
    el: '#app-queue',
    data: {
      queue: []
    },
    created:function(){
      var vm = this;
      fetch('/api/v1/order/list')
      .then(res=>{
        return res.json();
      })
      .then(j=>{  
        if(!j.success)
          return alert("获取数据失败")
        var d = j.data;
        d.map((ele,i)=>{
          ele.OrderTime = timeFormat(new Date(ele.OrderTime));
        });
        vm.queue = j.data;
      })
    }
   });
